/* .heading {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    border-radius: 25px;
    color: yellowgreen;
    font-weight: 900;
    font-size: xx-large;
} */

body {
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #ffffff 50%, #B5FFFC 100%);
    /* background-image: url('https://c0.wallpaperflare.com/preview/615/619/759/firework-city-building-high-rise.jpg');
    background-repeat: repeat;
    height: 100vh;
    background-size: cover;*/
}

.sticky-element {
    position: sticky;
    top: 0;
    background-color: #0A2B50;
    color: silver;
}

.head {
    margin-left: 300px;
    margin-right: 300px;
    border: 5px solid black;
}

.hh {
    font-size: 65px;
    color: rgb(56, 86, 185);
    width: auto;
    display: block;
    margin: auto;
    text-shadow: 0px 5px 5px #ffb3cc;
    font-family: 'Redressed', cursive;
}

.h1 {
    font-size: 50px;
    color: rgb(56, 86, 185);
    width: auto;
    display: block;
    margin: auto;
    text-shadow: 0px 5px 5px #ffb3cc;
}

.container-header {
    background-size: cover;
    margin: 10px;
    padding: 50px;
}

.sweets-product {
    background-color: azure;
    height: auto;
    width: 300px;
    border-radius: 30px;
    padding: 5px;
    text-align: center;
    box-shadow: 0px 0px 10px black;
    border-style: solid;
    border: wheat;
}

.sweets-product:hover {
    background-color: azure;
    height: auto;
    width: 300px;
    border-radius: 50px;
    padding: 5px;
    text-align: center;
    box-shadow: 0px 0px 10px black;
    border-style: solid;
    border: wheat;
}

.img-1 {
    border-radius: 10px;
    height: 100px;
    width: 100px;
    margin: 10px;
}

.img-2 {
    border-radius: 10px;
    height: 70px;
    width: 70px;
    margin: 10px;
}

.img-3 {
    border-radius: 50px;
    height: 70px;
    width: 70px;
    margin: 10px;
}

.description {
    text-align: center;
}

.temp {
    border: none;
    border-radius: 10px 10px 35px 35px;
    height: 40px;
    color: white;
}

.btn-item1 {
    padding-bottom: 3px;
    width: 150px;
    border-radius: 300px 300px 0px 0px;
    background-color: #80dfff;
    color: white;
    border: none;
}

.btn-item2 {
    width: 150px;
    border-radius: 0px 0px 200px 200px;
    background-color: #ffb3cc;
    color: white;
    border: none;
}

.bg-marquee {
    background-color: #ffb3cc;
    font-size: 15px;
}

.emoji-all {
    height: 50px;
    width: 50px;
}

.description {
    text-align: center;
}

.logo {
    border-radius: 40px;
}

.title-2 {
    text-align: center;
    margin: 70px;
}

footer {
    margin-top: 30px;
    background-color: #0A2B50;
    color: silver;
}

.footer-containt {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.heading-project {
    text-align: center;
    margin-top: 15px;
}

.heading {
    font-size: 35px;
}

.description {
    text-align: center;
}

.social-img {
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
}

.social-icons {
    display: flex;
    height: 50px;
    width: 30px;
    border-radius: 50%;
    padding: 5px;
    background-color: aliceblue;
}

.social-images {
    display: flex;
    height: 40px;
    width: 40px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0px 0px 10px black;
    transition: 0.03s;
}

.social-images:hover {
    transform: scale(1.07);
}

.footer-links {
    text-decoration: none;
}

.f-links {
    text-decoration: none;
    display: block;
}

.footer-links {
    margin: 15px;
}

.footer-sushil {
    margin: 15px;
}

.footer-pratik {
    margin: 15px;
}

.footer-saurabh {
    margin: 15px;
}

.footer-sakshi {
    margin: 15px;
}

.footer-vaishnavi {
    margin: 15px;
}

@media screen and (max-width: 576px) {
    .footer-containt {
        width: 80%;
        display: block;
    }
}