body {
    /*background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #ffffff 50%, #B5FFFC 100%);
    /* background-image: url('https://c0.wallpaperflare.com/preview/615/619/759/firework-city-building-high-rise.jpg');
    background-repeat: repeat;
    height: 100vh;
    background-size: cover;*/
}

.h1 {
    font-size: 65px;
    background-color: #80dfff;
    width: auto;
    display: block;
    margin: auto;
}

.h2 {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    background-color: #ffb3cc;
}

.sticky-element {
    position: sticky;
    top: 0;
}

.heading {
    color: azure;
    font-size: 400px;
}

.card {
    width: 400px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px #808080;
    /*border: 5px black solid;*/
    box-shadow: 0px 0px 20px silver;
}

.card:hover {
    border-radius: 40px;
    box-shadow: 0px 0px 30px #808080;
    background-color: bisque;
}

.card-img {
    margin-top: 10px;
    width: 180px;
    height: 180px;
    margin-left: 100px;
    margin-right: 50px;
    /*border: 5px black dashed;*/
}

.card-title {
    text-align: center;
}

.btn {
    margin-left: 95px;
    width: 200px;
    /*border: 1px black solid;*/
}

.btn-item1 {
    width: 150px;
    margin-left: 30%;
    border-radius: 300px 300px 0px 0px;
    background-color: #80dfff;
    color: white;
    /*border: 2px black dashed;*/
}

.btn-item2 {
    width: 150px;
    margin-left: 30%;
    border-radius: 0px 0px 200px 200px;
    background-color: #ffb3cc;
    color: white;
    /*border: 2px black dashed;*/
}

.btn-item1:hover {
    cursor: pointer;
    box-shadow: 10px 10px 0px rgb(117, 117, 117);
    top: -5px;
    left: -5px;
    background-color: #80dffF;
}

.btn-item2:hover {
    cursor: pointer;
    box-shadow: 10px 10px 0px rgb(117, 117, 117);
    top: -5px;
    left: -5px;
}

.card-det {
    font-size: 20px;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.bill {
    background-color: aliceblue;
    margin-left: 600px;
    margin-right: 600px;
    /*border: 5px black solid;*/
    border-radius: 20px;
    box-shadow: 0px 0px 30px black;
}

.bill:hover {
    background-color: bisque;
}

.bill-btn {
    margin-left: 22%;
    border-radius: 10px 200px 10px 200px;
    width: 400px;
    background-color: #FFC107;
    height: 70px;
    border: 2px black solid;
    font-size: 30px;
}

.bill-btn:hover {
    border-radius: 10px 200px 10px 200px;
    width: 430px;
    background-color: bisque;
    height: 90px;
    font-size: 35px;
    margin-left: 20%;
}

.leftside {
    /*border: 10px black solid;*/
}

.offercard {
    text-align: center;
    width: 600px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
    /*border: 5px white dashed;*/
    background-color: #FFC107;
}

.offercard:hover {
    border-radius: 30px;
    box-shadow: 0px 0px 20px black;
    width: 620px;
}

.offercard-title {
    text-align: center;
    color: black;
    font-size: 40px;
}

.offerdesp {
    color: black;
    font-size: 25px;
}

.amtimg {
    height: 50px;
}

.video {
    text-align: center;
}

footer {
    margin-top: 30px;
    background-color: #0A2B50;
    color: silver;
}

.footer-containt {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.heading-project {
    text-align: center;
    margin-top: 15px;
}

.heading {
    font-size: 35px;
}

.description {
    text-align: center;
}

.social-img {
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
}

.social-icons {
    display: flex;
    height: 50px;
    width: 30px;
    border-radius: 50%;
    padding: 5px;
    background-color: aliceblue;
}

.social-images {
    display: flex;
    height: 40px;
    width: 40px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0px 0px 10px black;
    transition: 0.03s;
}

.social-images:hover {
    transform: scale(1.07);
}

.footer-links {
    text-decoration: none;
}

.f-links {
    text-decoration: none;
    display: block;
}

.footer-links {
    margin: 15px;
}

.footer-sushil {
    margin: 15px;
}

.footer-pratik {
    margin: 15px;
}

.footer-saurabh {
    margin: 15px;
}

.footer-sakshi {
    margin: 15px;
}

.footer-vaishnavi {
    margin: 15px;
}

@media screen and (max-width: 576px) {
    .footer-containt {
        width: 80%;
        display: block;
    }
}